tqdm
numpy>=1.17
torch>=1.1.0
scipy
rouge
tokenizers>=0.10.1
requests
sentencepiece
bs4
packaging>=20.0
regex
sacremoses
filelock
importlib_metadata
sklearn
retrying
seqeval
PyYaml
protobuf
deepspeed==0.6.5
