# Copy from https://github.com/huggingface/pytorch-transformers

# PyTorch
torch>=1.3.0
# Progress bars in model download and training scripts
tqdm
# Accessing files from S3 directly.
boto3
# Used for downloading models over HTTP
requests

